@import 'includes/realfire-config.css';
@import 'includes/realfire-colours.css';

@import 'includes/realfire-layout.css';
@import 'includes/realfire-responsive.css';
@import 'includes/realfire-floating-panel.css';

@import "includes/realfire-findbar.css";
@import "includes/realfire-icons.css";
@import "includes/realfire-popups.css";
@import "includes/realfire-checkbox.css";

@import 'includes/realfire-nav-bar.css';
@import 'includes/realfire-tabs.css';
@import 'includes/realfire-side-bar.css';
@import 'includes/realfire-library.css';
@import 'includes/realfire-button.css';
@import 'includes/realfire-inputs.css';
@import 'includes/realfire-addons.css';


.container.infobar {
  background:black !important;
}

.notificationbox-stack {
  border-radius: var(--uc-border-radius) !important;
    position: absolute !important;
    bottom: 0px !important;
  
    width: auto !important;
}


