@import 'includes/realfire-config.css';
@import 'includes/realfire-colours.css';
@import 'includes/realfire-settings.css';

@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
  .click-target-container *,
  .top-sites-list * {
    color: var(--uc-inverted-colour) !important ;
  }

  body::before {
    content: "";
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0) no-repeat url(img/wallpaperflare.com_wallpaper.jpg) center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
}
