@import 'includes/realfire-config.css';
@import 'includes/realfire-colours.css';

@import 'includes/realfire-layout.css';
@import 'includes/realfire-responsive.css';

@import "includes/realfire-findbar.css";
@import "includes/realfire-icons.css";
@import "includes/realfire-popups.css";
@import "includes/realfire-checkbox.css";

@import 'includes/realfire-nav-bar.css';
@import 'includes/realfire-tabs.css';
@import 'includes/realfire-side-bar.css';
@import 'includes/realfire-library.css';
@import 'includes/realfire-button.css';
@import 'includes/realfire-inputs.css';

notification-message.infobar {
  background:var(--uc-base-colour) !important;
  outline: 2px solid var(--accent-color) !important;
  border-radius: var(--uc-border-radius) !important;
}

notification-message.infobar::before {
  background-image: none !important;
}