html, body {
	-webkit-font-smoothing: subpixel-antialiased !important;
	text-shadow: 0px 0px 0px !important;
	-webkit-text-stroke-width: 0.1px !important;
	}
	*:not([class*="FokDXb"]):not([class*="upload"]):not([class*="icon"]):not([class*="mui-amount"]):not([class*="chaoshi"]):not([class*="top-nav"]):not([href*="ju.taobao.com"]):not([class*="Icon"]):not(b):not(ins):not(i):not(s){
	font-family:"PingFang SC"!important;
	}