.titlebar-button > .toolbarbutton-icon {
	height: 15px !important;
	min-height: 25px !important;
	width: 15px !important;
	min-width: 25px !important;
	padding-left: 6px !important;
	padding-right: 6px !important;
	padding-top: 6px !important; 
  }
  
  .titlebar-min{
	position: relative !important;
	list-style-image: url("../icons/minimize-normal.svg") !important;
	list-style-type: square !important;
	list-style-position: inherit !important;
  }
  
  .titlebar-min:hover{
	position: relative !important;
	list-style-image: url("../icons/minimize-hover.svg") !important;
	list-style-type: square !important;
	list-style-position: inherit !important;
  }
  
  .titlebar-max{
	position: relative !important;
	list-style-image: url("../icons/maximize-normal.svg") !important;
	list-style-type: square !important;
	list-style-position: inherit !important;
  }
  
  .titlebar-max:hover{
	position: relative !important;
	list-style-image: url("../icons/maximize-hover.svg") !important;
	list-style-type: square !important;
	list-style-position: inherit !important;
  }
  
  .titlebar-restore{
	position: relative !important;
	list-style-image: url("../icons/maximized-normal.svg") !important;
	list-style-type: square !important;
	list-style-position: inherit !important;
  }
  
  .titlebar-restore:hover{
	position: relative !important;
	list-style-image: url("../icons/maximized-hover.svg") !important;
	list-style-type: square !important;
	list-style-position: inherit !important;
  }
  
  .titlebar-close{
	position: relative !important;
	list-style-image: url("../icons/close-normal.svg") !important;
	list-style-type: square !important;
	list-style-position: inherit !important;
  }
  
  .titlebar-close:hover{
	position: relative !important;
	list-style-image: url("../icons/close-hover.svg") !important;
	list-style-type: square !important;
	list-style-position: inherit !important;
  }
  
  