#navigator-toolbox:not(:-moz-lwtheme) {
  background: var(--toolbar-field-background-color) !important;
}

#nav-bar {
  padding-block-start: 0px !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

#urlbar,
#urlbar * {
  padding-block-start: var(--uc-urlbar-top-spacing) !important;
  outline: none !important;
  box-shadow: none !important;
}

#urlbar-background {
  border: transparent !important;
}

#urlbar[focused="true"] > #urlbar-background,
#urlbar:not([open]) > #urlbar-background {
  background: var(--toolbar-field-background-color) !important;
}

#urlbar[open] > #urlbar-background {
  background: var(--toolbar-field-background-color) !important;
}

.urlbarView-row:hover > .urlbarView-row-inner,
.urlbarView-row[selected] > .urlbarView-row-inner {
  background: var(--toolbar-field-focus-background-color) !important;
}

.urlbar-icon,
#urlbar-go-button {
  margin: auto;
}
.urlbar-page-action {
  padding: 0 inherit !important;
}
/* .urlbar-page-action .urlbar-icon {
  margin-top: 6px !important;
} */

/* autohide back&forward button */
#back-button,
#forward-button {
  transform: scale(1, 1) !important;
  transition: margin-left 150ms var(--animation-easing-function),
    opacity 250ms var(--animation-easing-function),
    transform 350ms var(--animation-easing-function) !important;
}

#forward-button[disabled="true"],
#back-button[disabled="true"] {
  /*margin-top: 1.2px !important;*/
  /* margin-left: -36px !important; */
  display: none;
  opacity: 0 !important;
  transform: scale(0.6, 0.6) !important;
  pointer-events: none !important;
}
