.checkbox-check[checked] {
    color: var(--button-text-white) !important;
  background-color: color-mix(in srgb, field 10%, var(--accent-color) ) !important;
  /* background-image: url(../icons/checked.svg) !important; */
}
.checkbox-check {
    border-radius: 4px !important;
}
button:not([disabled])[default] {
  color: var(--button-text-white) !important;
  background-color: var(--accent-color) !important;
}