@-moz-document url(chrome://browser/content/places/places.xhtml)
{
  #PopupSearchAutoComplete > * {
    border-radius: 0 !important;
  }

  #PopupSearchAutoComplete > :first-child {
    border-radius: 4px 4px 0 0 !important;
  }

  #PopupSearchAutoComplete > :last-child {
    border-radius: 0 0 4px 4px !important;
  }

  /* autocomplete panel can't overlap the textbox, so shadow can't go up
       more than 1px */
  panel[type="autocomplete-richlistbox"] > .autocomplete-richlistbox {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px -0px rgba(0, 0, 0, 0.14), 0 3px 14px -5px rgba(0, 0, 0, 0.12) !important;
  }

  /* search panel gets special treatment; it has multiple children */
  #PopupSearchAutoComplete > .autocomplete-richlistbox {
    box-shadow: none !important;
  }

  #PopupSearchAutoComplete {
    filter: drop-shadow(0 8px 6px rgba(0, 0, 0, 0.25))
      drop-shadow(0 1px 1px rgba(0, 0, 0, 0.125)) !important;
  }

  /* ============== Menus ============== */

  /* These change top bar background color */
  #placesToolbar {
    border-bottom: 1px solid var(--accent-color) !important;
    background-color: var(--uc-base-colour) !important;
    color: var(--uc-inverted-colour) !important;
  }

  /* These change the lists background color */
/* This one changes the urlbar star bookmarking folder tree backgrund color */
  #placesView #placesView .scrollbox-innerbox,
#infoPane,
#placesList,
#placeContent,
#editBMPanel_folderTree {
    -moz-appearance: none !important;
    border-bottom: 1px solid var(--accent-color) !important;
    background: var(--uc-base-colour) !important;
    color: var(--uc-inverted-colour) !important;
  }

  /* These change the list header background and text colors */
  #placeContent treecol {
    -moz-appearance: none !important;
    background: var(--uc-base-colour) !important;
    color: var(--uc-inverted-colour) !important;
  }

  #placeContent treecol:hover {
    -moz-appearance: none !important;
    background: rgb(255, 255, 255, 0.15) !important;
    color: var(--uc-inverted-colour) !important;
  }

  /* This changes the right border on the left list panel */
  #placesView > splitter {
    border-inline-end: 1px solid var(--accent-color) !important;
  }

  /* These change the odd rows of the lists */
  #placeContent tree,
  treechildren::-moz-tree-row(odd) {
    color: var(--uc-inverted-colour) !important;
  }

  treechildren::-moz-tree-row(hover),
  treechildren::-moz-tree-row(selected, focus) {
    outline: none !important;
    background-color: var(--accent-color) !important;
    color: var(--uc-inverted-colour) !important;
  }

  treechildren::-moz-tree-cell {
    border-right: 0px dotted rgba(0, 0, 0, 0.4) !important;
  }

  #placeContent > splitter {
    border: 0px solid red !important;
  }

  /* This changes the forward and back buttons opacity when disabled */
  #placesToolbar > toolbarbutton[disabled] > .toolbarbutton-icon {
    opacity: 0.25 !important;
  }

  /* This changes the forward and back buttons color */
  #back-button > .toolbarbutton-icon,
  #forward-button > .toolbarbutton-icon {
    fill: var(--uc-inverted-colour) !important;
    opacity: 1 !important;
  }

  /* This deletes the leftover border when clicking one of the top buttons */
  #placesMenu > menu {
    transition: ease-in 200ms;
    margin-inline: 5px !important;
    outline: 1.5px solid var(--uc-muted-colour) !important;
    border-radius: var(--uc-border-radius) !important;
  }

  #placesMenu > menu:hover {
    transition: ease-out 200ms;
    outline: 1.5px solid AccentColor !important;
  }
  
  #placesMenu > menu > .menubar-text {
  background: none !important;;
}

  /* This changes the text color of the "clear downloads" button */
  #clearDownloadsButton {
    color: var(--uc-inverted-colour) !important;
  }

  #clearDownloadsButton[disabled] {
    color: var(--uc-base-colour) !important;
  }

  /* This themes the search box */
  #searchFilter {
    border-radius: var(--uc-border-radius) !important;
    transition: all 0.25s ease-in-out !important;
    -moz-appearance: none !important;
    outline: 1px solid var(--uc-muted-colour) !important;
    background-color: var(--uc-base-colour) !important;
    color: var(--uc-inverted-colour) !important;
  }

  /* This themes the search box on hover */
  #searchFilter[focused="true"] {
    box-shadow: var(--input-field-focus-shadow) !important;
    background-color: var(--uc-base-colour) !important;
    color: var(--uc-inverted-colour) !important;
    outline: 1.5px solid var(--accent-color) !important;
  }

  /* This themes the information box on the lower part of the library menu */
  #detailsDeck {
    background-color: var(--uc-base-colour) !important;
    color: var(--uc-inverted-colour) !important;
    border-top: 2px solid #222 !important;
  }

  /* This changes the text boxes inside the library bottom information box */
  /* This changes the text boxes on the popup when bookmarking a page from the url box */
  #infoBox textbox,
  #infoBox listbox,
  #editBMPanel_namePicker,
  #editBMPanel_tagsField,
  #editBMPanel_tagsSelector,
  #editBMPanel_locationField,
  #editBMPanel_keywordField {
    transition: all 0.25s ease-in-out !important;
    -moz-appearance: none !important;
    border: 1px solid var(--uc-muted-colour) !important;
    border-radius: var(--uc-border-radius) !important;
    color: var(--uc-inverted-colour) !important;
  }

  /* A fix for bookmark preferences... so that some boxes won't appear brighter than others */
  #bookmarkproperties #editBMPanel_namePicker,
  #bookmarkproperties #editBMPanel_tagsField,
  #bookmarkproperties #editBMPanel_tagsSelector {
  border: 1px solid var(--accent-color) !important;
    border-radius: var(--uc-border-radius) !important;
  }

  
  
  /* This changes the same text boxes on hover */
/* This changes the same url bookmarking popup text boxes on hover */
  #infoBox textbox:hover,
#infoBox listbox:hover,
#editBMPanel_namePicker:hover,
#editBMPanel_tagsField:hover,
    #editBMPanel_locationField:hover,
  #editBMPanel_keywordField:hover,
#infoBox #bookmarkproperties #editBMPanel_namePicker:hover,
#infoBox #bookmarkproperties #editBMPanel_tagsField:hover {
    box-shadow: var(--Input-field-focus-shadow) !important;
    border: 1.5px solid var(--accent-color) !important;
    background-color: var(--uc-base-colour) !important;
    color: var(--uc-inverted-colour) !important;
  }

  /* This changes the buttons inside the bookmarking popup at the url star */
  #editBMPanel_newFolderButton,
  #editBookmarkPanelDoneButton,
  #editBookmarkPanelRemoveButton,
  #tracking-action-unblock-private,
  #identity-popup-popup-menulist,
  #tracking-action-block,
  #tracking-action-unblock {
    -moz-appearance: none !important;
    background: var(--uc-base-colour) !important;
    color: var(--uc-inverted-colour) !important;
    padding: 0.3em !important;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
  }

  #editBMPanel_newFolderButton:hover,
  #editBookmarkPanelDoneButton:hover,
  #editBookmarkPanelRemoveButton:hover,
  #tracking-action-unblock-private:hover,
  #identity-popup-popup-menulist:hover,
  #tracking-action-block:hover,
  #tracking-action-unblock:hover {
    background: var(--uc-muted-colour) !important;
    color: var(--uc-inverted-colour) !important;
  }

  #editBookmarkPanelBottomButtons {
    background: transparent !important;
  }

  /* These change the expander buttons on the library and bookmarking popup */
  #editBMPanel_folderMenuList,
  #editBMPanel_tagsSelectorExpander,
  #editBMPanel_foldersExpander,
  #detailsDeck button {
    -moz-appearance: none !important;
    border: 1px solid var(--uc-inverted-colour) !important;
    background: var(--uc-base-colour) !important;
    color: var(--uc-inverted-colour) !important;
  }

  #editBMPanel_folderMenuList:hover,
  #editBMPanel_tagsSelectorExpander:hover,
  #editBMPanel_foldersExpander:hover,
  #detailsDeck button:hover {
    border: 1px solid var(--accent-color) !important;
    background: var(--uc-muted-colour) !important;
  }
  
  #BMB_bookmarksPopup {
    margin-top: -9px !important;
  }

  #editBMPanel_folderMenuList {
    padding: 1px !important;
    color: var(--uc-inverted-colour) !important;
  }

  /* These change the downloads history list background */
  #downloadsRichListBox {
    background: var(--uc-base-colour) !important;
    color: var(--uc-inverted-colour) !important;
  }

  #detailsPane {
    border-top: none !important;
    background-color: var(--uc-base-colour) !important;
  }


}
