@media (min-width: 1000px) {
  #navigator-toolbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  #nav-bar {
    order: var(-uc-urlbar-position) !important;
    width: var(--uc-urlbar-max-width) !important;
  }
  
  #urlbar-container {
    margin-inline: 6px !important;
    width: auto !important;
    min-width: var(--uc-urlbar-min-width);
    max-width: var(--uc-urlbar-max-width) !important;
    padding-left: 2px;
  }

  #titlebar {
    width: auto !important;
    min-width: calc(100vw - var(--uc-urlbar-max-width) - 1px) !important;
    order: 2;
  }

  #PersonalToolbar {
    order: var(--uc-toolbar-position) !important;
    width: 100% !important;
  }

  /* Hide buttons */
  :root:not([customizing])
    #nav-bar
    .customization-target
    > :not(#urlbar-container) {
    opacity: 0 !important;
    width: 0px !important;
    padding: 0px !important;
    min-width: 0px !important;
    transition: all 200ms !important;
    /*! margin-right: 4px !important; */
  }

  /* Show on hover or focus */
  :root:not([customizing])
    #nav-bar:hover
    .customization-target
    > :not(#urlbar-container,#nav-bar-toolbarbutton-slider-container),
  :root:not([customizing])
    #nav-bar:focus-within
    .customization-target
    > :not(#urlbar-container,#nav-bar-toolbarbutton-slider-container) {
    opacity: 1 !important;
    min-width: 28px !important;
    transition: all 200ms !important;
  }

  :root:not([customizing])
  #nav-bar:hover
  .customization-target
  > #nav-bar-toolbarbutton-slider-container,
  :root:not([customizing])
    #nav-bar:focus-within
    .customization-target
    > #nav-bar-toolbarbutton-slider-container {
    width: 64px !important;
    opacity: 1 !important;
    transition: all 200ms !important;
  }

  /* autohide back&forward button */
  #back-button,
  #forward-button {
    transform: scale(1, 1) !important;
    transition: margin-left 150ms var(--animation-easing-function),
      transform 350ms var(--animation-easing-function) !important;
  }

  #forward-button[disabled="true"],
  #back-button[disabled="true"] {
    display: none;
    opacity: 0 !important;
    transform: scale(0.6, 0.6) !important;
    pointer-events: none !important;
  }

  /* #navigator-toolbox:focus-within #nav-bar {
    width: auto !important;
    width: var(--uc-urlbar-max-width) !important;
  } */

  #navigator-toolbox:focus-within #titlebar {
    width: auto !important;
    min-width: calc(100vw - var(--uc-urlbar-max-width) - 1px) !important;
  }
}
