/* menupopup:not(.in-menulist) > menu:not(.menu-iconic),
menupopup:not(.in-menulist, [aria-label])
  > menuitem:not(.menuitem-iconic, [type="checkbox"], [type="radio"]) {
   padding-inline-start: calc(2em + 16 px) !important; 
} */

.subviewbutton .toolbarbutton-icon {
  display: -moz-inline-box !important;
}

input[type="radio"]:checked,
.radio-check[selected],
menuitem[type="radio"][checked="true"] {
  background-image: url(../icons/radio-checked.svg);
}

input[type="radio"]:not([checked]),
.radio-check,
menuitem[type="radio"]:not([checked="true"]) {
  background-image: url(../icons/radio-unchecked.svg) !important;
}

menuitem[type="checkbox"][checked="true"] {
  background-image: url(../icons/checked.svg) !important;
}

menuitem[type="checkbox"]:not([checked="true"]) {
  background-image: url(../icons/unchecked.svg) !important;
}

.bookmark-item {
  list-style-image: url(../icons/bookmark-manage.svg) !important;
}

#appMenu-translate-button {
  list-style-image: url(chrome://userchrome/content/material/translate.svg);
}

menuitem[data-l10n-id$="-sync-now"],
#PanelUI-fxa-menu-setup-sync-button {
  background-image: url("chrome://browser/skin/sync.svg");
  list-style-image: url("chrome://browser/skin/sync.svg");
}

menu.sync-ui-item,
#PanelUI-fxa-menu-sendtab-button {
  background-image: url(../icons/send-tab.svg);
  list-style-image: url(../icons/send-tab.svg);
}

#menu_browserContentToolbox,
.subviewbutton[label="Browser Content Toolbox"],
.subviewbutton[data-l10n-id$="appmenuitem-more-tools"] {
  background-image: url(../icons/toolbox.svg);
  list-style-image: url(../icons/toolbox.svg);
}

#menu_preferences,
#openSettingsMenuItem,
.subviewbutton[data-l10n-id$="-settings"] {
  background-image: url("chrome://global/skin/icons/settings.svg");
  list-style-image: url("chrome://global/skin/icons/settings.svg");
}

#menu_preferences,
#openSettingsMenuItem,
.subviewbutton[id="appMenu-advanced-settings-button"]{
  list-style-image: url(chrome://userchrome/content/material/experiments.svg);
}


#PanelUI-fxa-menu-account-signout-button {
  background-image: url(../icons/signout.svg);
  list-style-image: url(../icons/signout.svg);
}

#menu_newNavigatorTab,
menuitem[id$="openANewTab"],
#appMenu-new-tab-button2 {
  background-image: url("chrome://browser/skin/new-tab.svg");
  list-style-image: url("chrome://browser/skin/new-tab.svg");
}

#menu_newNavigator,
#historyUndoWindowMenu,
menuitem[data-l10n-id*="-open-"][data-l10n-id$="-window"],
#context_openTabInWindow,
#appMenu-new-window-button2,
#appMenuRecentlyClosedWindows {
  background-image: url("chrome://browser/skin/window.svg");
  list-style-image: url("chrome://browser/skin/window.svg");
}

menuitem[data-l10n-id$="-private-window"],
#appMenu-new-private-window-button2 {
  background-image: url("chrome://browser/skin/privateBrowsing.svg");
  list-style-image: url("chrome://browser/skin/privateBrowsing.svg");
}

.subviewbutton[data-l10n-id="library-bookmarks-menu"],
#panelMenuBookmarkThisPage[starred],
#sidebar-switcher-bookmarks {
  background-image: url("chrome://browser/skin/bookmark.svg");
  list-style-image: url("chrome://browser/skin/bookmark.svg");
}

menuitem[data-l10n-id*="bookmark-"]:not(.menuitem-iconic),
#context-bookmarkframe,
#placesContext_createBookmark ,
#panelMenuBookmarkThisPage {
  background-image: url("chrome://browser/skin/bookmark-hollow.svg");
  list-style-image: url("chrome://browser/skin/bookmark-hollow.svg");
}

#appMenuSearchHistory,
#menu_find,
#context-searchselect,
#panelMenu_searchBookmarks,
#appMenu-find-button2,
#allTabsMenu-searchTabs {
  background-image: url("chrome://global/skin/icons/search-glass.svg");
  list-style-image: url("chrome://global/skin/icons/search-glass.svg");
}

#spell-dictionaries,
#toggle_PersonalToolbar,
#BMB_viewBookmarksToolbar,
#panelMenu_viewBookmarksToolbar {
  background-image: url("chrome://browser/skin/bookmarks-toolbar.svg");
  list-style-image: url("chrome://browser/skin/bookmarks-toolbar.svg");
}

#menu_historySidebar:not([checked="true"]),
.subviewbutton[id$="-history-button"],
#sidebar-switcher-history {
  background-image: url("chrome://browser/skin/history.svg");
  list-style-image: url("chrome://browser/skin/history.svg");
}

#historyUndoMenu,
#appMenuRecentlyClosedTabs {
  background-image: url("chrome://devtools/skin/images/debugging-tabs.svg");
  list-style-image: url("chrome://devtools/skin/images/debugging-tabs.svg");
}

#historyRestoreLastSession,
#appMenuRestoreSession {
  background-image: url(../icons/restore-session.svg);
  list-style-image: url(../icons/restore-session.svg);
}

#sanitizeItem,
#placesContext_deleteHost,
#appMenuClearRecentHistory {
  background-image: url("chrome://browser/skin/forget.svg");
  list-style-image: url("chrome://browser/skin/forget.svg");
}

#menu_openDownloads,
.subviewbutton[id$="-downloads-button"] {
  background-image: url("chrome://browser/skin/downloads/downloads.svg");
  list-style-image: url("chrome://browser/skin/downloads/downloads.svg");
}

#appMenu-passwords-button {
  background-image: url("chrome://browser/skin/login.svg");
  list-style-image: url("chrome://browser/skin/login.svg");
}

#menu_openAddons,
#appMenu-extensions-themes-button {
  background-image: url("chrome://mozapps/skin/extensions/extension.svg");
  list-style-image: url("chrome://mozapps/skin/extensions/extension.svg");
}

menuitem[data-l10n-id*="-print"],
#appMenu-print-button2 {
  background-image: url("chrome://global/skin/icons/print.svg");
  list-style-image: url("chrome://global/skin/icons/print.svg");
}

#context-saveimage,
#context-savelink,
#menu_savePage,
#context-savepage,
#appMenu-save-file-button2 {
  background-image: url("chrome://browser/skin/save.svg");
  list-style-image: url("chrome://browser/skin/save.svg");
}

menuitem[data-l10n-id*="-customize-toolbar"],
.subviewbutton[command="cmd_CustomizeToolbars"] {
  background-image: url("chrome://browser/skin/customize.svg");
  list-style-image: url("chrome://browser/skin/customize.svg");
}

#menu_taskManager,
.subviewbutton[label="Task Manager"],
.subviewbutton[oncommand="switchToTabHavingURI('about:performance', true)"] {
  background-image: url("chrome://global/skin/icons/performance.svg");
  list-style-image: url("chrome://global/skin/icons/performance.svg");
}

#menu_browserToolbox,
.subviewbutton[key="key_browserToolbox"] {
  background-image: url("chrome://devtools/skin/images/fox-smiling.svg");
  list-style-image: url("chrome://devtools/skin/images/fox-smiling.svg");
}

#menu_responsiveUI:not([checked="true"]),
.subviewbutton[key="key_responsiveDesignMode"]:not([checked="true"]) {
  background-image: url("chrome://devtools/skin/images/command-responsivemode.svg");
  list-style-image: url("chrome://devtools/skin/images/command-responsivemode.svg");
  fill-opacity: 0;
}

.subviewbutton[key="key_responsiveDesignMode"]:not([checked="true"])
  > .menu-iconic-left::before {
  opacity: 0 !important;
}

#menu_eyedropper:not([checked="true"]),
.subviewbutton[key="key_responsiveDesignMode"] + .subviewbutton {
  background-image: url("chrome://devtools/skin/images/command-eyedropper.svg");
  list-style-image: url("chrome://devtools/skin/images/command-eyedropper.svg");
  fill-opacity: 0;
}

#extensionsForDevelopers,
.subviewbutton[data-l10n-id="appmenu-developer-tools-extensions"] {
  background-image: url("chrome://activity-stream/content/data/content/assets/glyph-webextension-16.svg");
  list-style-image: url("chrome://activity-stream/content/data/content/assets/glyph-webextension-16.svg");
}

#appMenu-help-button2 {
  background-image: url("chrome://global/skin/icons/help.svg");
  list-style-image: url("chrome://global/skin/icons/help.svg");
}

#appMenu-restart-button2 {
  background-image: url(../icons/reload.svg);
  list-style-image: url(../icons/reload.svg);
}

#appMenu-userChrome-button {
  background-image: url(chrome://browser/skin/trending.svg);
  list-style-image: url(chrome://browser/skin/trending.svg);
}

#menu_HelpPopup_reportPhishingtoolmenu,
#appMenu_menu_HelpPopup_reportPhishingtoolmenu {
  background-image: url("chrome://global/skin/icons/lightbulb.svg");
  list-style-image: url("chrome://global/skin/icons/lightbulb.svg");
}

#aboutName,
#appMenu_aboutName {
  background-image: url("chrome://devtools/skin/images/browsers/firefox.svg");
  list-style-image: url("chrome://devtools/skin/images/browsers/firefox.svg");
}

#menu_FileQuitItem,
#appMenu-quit-button2 {
  background-image: url(../icons/quit.svg);
  list-style-image: url(../icons/quit.svg);
}

#menu_newUserContext,
#allTabsMenu-containerTabsButton {
  background-image: url(../icons/new-container.svg);
  list-style-image: url(../icons/new-container.svg);
}

#PanelUI-fxa-menu-connect-device-button,
#sidebar-switcher-tabs {
  background-image: url("chrome://browser/skin/synced-tabs.svg");
  list-style-image: url("chrome://browser/skin/synced-tabs.svg");
}

#sidebar-reverse-position[label="Move Sidebar to Right"],
#sidebar-reverse-position[label="Kenar çubuğunu sağa taşı"] {
  background-image: url("chrome://browser/skin/sidebars-right.svg");
  list-style-image: url("chrome://browser/skin/sidebars-right.svg");
}

#viewSidebarMenuMenu,
#BMB_viewBookmarksSidebar,
#sidebar-reverse-position[label="Move Sidebar to Left"],
#sidebar-reverse-position[label="Kenar çubuğunu sola taşı"] {
  background-image: url("chrome://browser/skin/sidebars.svg");
  list-style-image: url("chrome://browser/skin/sidebars.svg");
}

#toolbar-context-selectAllTabs[data-l10n-id="toolbar-context-menu-select-all-tabs"] {
  background-image: url(chrome://userchrome/content/material/select-all.svg);
}


#context_closeTab,
#orgClose,
menuitem[data-l10n-id="sidebar-menu-close"] {
  background-image: url("chrome://global/skin/icons/close.svg");
  list-style-image: url("chrome://global/skin/icons/close.svg");
}

#BMB_bookmarksPopup menuitem:not(.menuitem-iconic),
#PlacesToolbar .openintabs-menuitem {
  list-style-image: url(../icons/open_new_tabs.svg);
  background-image: url(../icons/open_new_tabs.svg);
}

#menu_openFile {
  background-image: url("chrome://browser/skin/open.svg");
}

menuitem[data-l10n-id*="-email"] {
  background-image: url("chrome://browser/skin/mail.svg");
}

#menu_importFromAnotherBrowser,
#browserImport {
  background-image: url("chrome://browser/skin/import.svg");
}

menuitem[data-l10n-id="text-action-undo"],
menuitem[data-l10n-id$="-reopen-closed-tabs"] {
  background-image: url("chrome://global/skin/icons/undo.svg");
}

menuitem[data-l10n-id="text-action-redo"] {
  background-image: url(../icons/redo.svg);
}

menuitem[data-l10n-id="text-action-cut"] {
  background-image: url("chrome://browser/skin/edit-cut.svg");
}

menuitem[data-l10n-id="text-action-copy"],
#syncedTabsCopySelected {
  background-image: url("chrome://global/skin/icons/edit-copy.svg");
}

menuitem[data-l10n-id="text-action-paste"] {
  background-image: url("chrome://browser/skin/edit-paste.svg");
}

menuitem[data-l10n-id="text-action-delete"],
menuitem[data-l10n-id="downloads-cmd-clear-list"],
menuitem[data-l10n-id="downloads-cmd-delete-file"],
.customize-context-removeExtension,
menuitem[data-l10n-id="toolbar-context-menu-remove-from-toolbar"],
.downloadRemoveFromHistoryMenuItem,
menuitem[id^="placesContext_delete"] {
  background-image: url("chrome://global/skin/icons/delete.svg");
}

#menu_bookmarksSidebar:not([checked="true"]),
menuitem[data-l10n-id="menu-bookmark-edit"] {
  background-image: url("chrome://browser/skin/bookmark.svg") !important;
}

#menu_bookmarksSidebar:not([checked="true"]) > .menu-iconic-left::before {
  opacity: 0 !important;
}

#menu_historySidebar:not([checked="true"]) > .menu-iconic-left::before {
  opacity: 0 !important;
}

#menu_tabsSidebar:not([checked="true"]),
#sync-tabs-menuitem {
  background-image: url("chrome://browser/skin/tab.svg");
}

#menu_tabsSidebar:not([checked="true"]) > .menu-iconic-left::before {
  opacity: 0 !important;
}

#menu_zoomEnlarge {
  background-image: url("chrome://browser/skin/add-circle-fill.svg");
}

#menu_zoomReduce {
  background-image: url("chrome://browser/skin/subtract-circle-fill.svg");
}

#repair-text-encoding {
  background-image: url("chrome://browser/skin/characterEncoding.svg");
}

#fullScreenItem:not([checked="true"]) {
  background-image: url("chrome://browser/skin/fullscreen.svg");
}

#fullScreenItem:not([checked="true"]) > .menu-iconic-left::before {
  opacity: 0 !important;
}

#menu_readerModeItem {
  background-image: url("chrome://browser/skin/reader-mode.svg");
}

#sync-setup {
  background-image: var(--avatar-image-url);
}


#webDeveloperMenu {
  background-image: url("chrome://browser/skin/developer.svg");
}

#menu_responsiveUI:not([checked="true"]) > .menu-iconic-left::before {
  opacity: 0 !important;
}

#menu_eyedropper:not([checked="true"]) > .menu-iconic-left::before {
  opacity: 0 !important;
}


#menu_pageInfo,
#context-viewframeinfo {
  background-image: url("chrome://global/skin/icons/info.svg");
}


menuitem[data-l10n-id*="reload-"],
#context-reloadframe {
  background-image: url("chrome://global/skin/icons/reload.svg");
}

menuitem[id^="context_toggleMute"]:not([soundplaying], [muted]),
menuitem[id^="context_toggleMute"][soundplaying]:not([muted]),
#context-media-mute {
  background-image: url("chrome://global/skin/media/audio-muted.svg");
}

menuitem[id^="context_toggleMute"][muted],
#context-media-unmute {
  background-image: url("chrome://global/skin/media/audio.svg");
}

menuitem[data-l10n-id^="pin-"],
.customize-context-moveToPanel {
  background-image: url("chrome://activity-stream/content/data/content/assets/glyph-pin-16.svg");
}

menuitem[data-l10n-id^="unpin-"],
.customize-context-moveToToolbar {
  background-image: url("chrome://activity-stream/content/data/content/assets/glyph-unpin-16.svg");
}

menuitem[id^="context_duplicateTab"] {
  background-image: url(../icons/duplicate-tab.svg);
}

#context_moveTabOptions {
  background-image: url(../icons/move-tab.svg);
}

menuitem.sendtab-target[clientType="desktop"] {
  background-image: url("chrome://browser/skin/device-desktop.svg");
}

menuitem.sendtab-target[clientType="phone"] {
  background-image: url("chrome://browser/skin/device-phone.svg");
}

menuitem.sendtab-target[clientType="tablet"] {
  background-image: url("chrome://browser/skin/device-tablet.svg");
}

menuitem.sendtab-target[clientType="tv"] {
  background-image: url("chrome://browser/skin/device-tv.svg");
}

menuitem.sendtab-target[clientType="vr"] {
  background-image: url("chrome://browser/skin/device-vr.svg");
}

.share-tab-url-item {
  background-image: url(../icons/share-tab.svg);
}

#context-setDesktopBackground {
  background-image: url(../icons/desktop-bg.svg);
}

#context_reopenInContainer,
#context-openlinkinusercontext-menu {
  background-image: url(../icons/move-container.svg);
}

#menu_selectAll,
#context-selectall,
#context_selectAllTabs {
  background-image: url(chrome://userchrome/content/material/select-all.svg);
}

#context-viewsource,
#context-viewpartialsource-selection {
  background-image: url(../icons/page-source.svg);
}

#context_closeTabOptions {
  background-image: url(../icons/close-tab-option.svg);
}

#context_moveToStart {
  background-image: url(../icons/move-start.svg);
}

#context_moveToEnd {
  background-image: url(../icons/move-end.svg);
}

menuitem[data-l10n-id="full-screen-exit"] {
  background-image: url("chrome://browser/skin/fullscreen-exit.svg");
}

#paste-and-go {
  background-image: url("chrome://browser/skin/forward.svg");
}

#appMenu-report-broken-site-button {
  list-style-image: url("chrome://global/skin/icons/warning.svg");
}

.customize-context-reportExtension {
  background-image: url("chrome://global/skin/icons/warning.svg");
}

.downloadResumeMenuItem {
  background-image: url(../resources/material/playButton.svg);
}

  .downloadPauseMenuItem{
  background-image: url(../resources/material/pause.svg);
}

.downloadShowMenuItem {
  background-image: url("chrome://global/skin/icons/folder.svg");
}

menuitem[id^="context-open"]:is([id$="intab"], [id$="incontainertab"]),
menuitem[data-l10n-id$="-view-new-tab"],
menuitem[data-l10n-id*="-open-in-"][data-l10n-id$="-tab"] {
  background-image: url("chrome://global/skin/icons/open-in-new.svg");
}

menuitem[oncommand^="Pocket.savePage"] {
  background-image: url("chrome://global/skin/icons/pocket-outline.svg");
}

menuitem[data-l10n-id$="-screenshot"] {
  background-image: url("chrome://browser/skin/screenshot.svg");
}

menuitem[data-l10n-id*="-copy-"][data-l10n-id*="-link"] {
  background-image: url("chrome://global/skin/icons/link.svg");
}

#context-searchselect[label^="Search Google for "] {
  background-image: url("chrome://activity-stream/content/data/content/tippytop/favicons/google-com.ico");
}

#context-searchselect[label^="Search Bing for "] {
  background-image: url("chrome://activity-stream/content/data/content/tippytop/favicons/bing-com.ico");
}

#PlacesToolbarItems .openintabs-menuitem
#context-searchselect[label^="Search DuckDuckGo for "] {
  background-image: url("chrome://activity-stream/content/data/content/tippytop/favicons/duckduckgo-com.ico");
}

#context-inspect-a11y {
  background-image: url("chrome://devtools/skin/images/tool-accessibility.svg");
}

#appmenu-developer-tools-view .subviewbutton[key="key_viewSource"] {
  list-style-image: url(../icons/web-page-source-code.svg);
}

#appmenu-developer-tools-view .subviewbutton[key="key_toggleToolbox"],
#context-inspect {
  background-image: url(../icons/command-pick.svg);
  list-style-image: url(../icons/command-pick.svg);
}

#context-media-play {
  background-image: url("chrome://global/skin/media/play-fill.svg");
}

#context-media-pause,
#doNotDisturbMenuItem {
  background-image: url("chrome://global/skin/media/pause-fill.svg");
}

#context-video-fullscreen {
  background-image: url("chrome://global/skin/media/fullscreenEnterButton.svg");
}

#context-leave-dom-fullscreen {
  background-image: url("chrome://global/skin/media/fullscreenExitButton.svg");
}

#context-video-pictureinpicture:not([checked="true"]) {
  background-image: url("chrome://global/skin/media/picture-in-picture-open.svg");
}

#context-video-pictureinpicture:not([checked="true"])
  > .menu-iconic-left::before {
  opacity: 0 !important;
}

#context-video-saveimage {
  background-image: url("chrome://devtools/skin/images/command-screenshot.svg");
}

#disableForOriginMenuItem {
  background-image: url("chrome://browser/skin/notification-icons/desktop-notification-blocked.svg");
}

menuitem[data-l10n-id^="places-edit-"] {
  background-image: url("chrome://global/skin/icons/edit.svg");
}

#appmenu-developer-tools-view .subviewbutton[key="key_aboutProcesses"] {
  list-style-image: url(../icons/browser-task-manager.svg);
  background-image: url(../icons/browser-task-manager.svg);
}

#context-copyimage-contents {
  background-image: url("chrome://devtools/skin/images/copy.svg");
}

#menu_openHelp,
#appMenu_menu_openHelp {
  background-image: url("chrome://devtools/content/debugger/images/help.svg");
  list-style-image: url("chrome://devtools/content/debugger/images/help.svg");
}

#feedbackPage,
#appMenu_feedbackPage {
  background-image: url(../icons/ideas.svg);
  list-style-image: url(../icons/ideas.svg);
}

#userScriptsMenu {
  background-image: url(../icons/userScriptsMenu.svg);
}

#menu_devtools_remotedebugging,
.subviewbutton[label="Remote Debugging"] {
  background-image: url(../icons/remote-debug.svg);
  list-style-image: url(../icons/remote-debug.svg);
}

#menu_browserConsole,
.subviewbutton[key="key_browserConsole"] {
  background-image: url(../icons/terminal.svg);
  list-style-image: url(../icons/terminal.svg);
}

#placesContext_showAllBookmarks,
#bookmarksShowAll,
#panelMenu_showAllBookmarks {
  background-image: url(../icons/bookmark-manage.svg);
}

#appMenu-restoreSession{
  list-style-image: url(../icons/restore-session.svg);
}

#menu_showAllHistory {
  background-image: url(../icons/all-history.svg);
}

#menu_zoomEnlarge {
  background-image: url(../icons/zoom-in.svg);
}

#menu_zoomReduce {
  background-image: url(../icons/zoom-out.svg);
}

#menu_zoomReset {
  background-image: url(../icons/actual-zoom.svg);
}
