findbar {
  border: none !important;
  padding: 6px !important;
  background: var(--uc-base-colour) !important;
}


.findbar-textbox:focus {
  transition: transform 13555ms !important;
  border-radius: var(--uc-border-radius) !important;
}

.findbar-button:hover {
  background: var(--uc-highlight-colour) !important;
}

.textbox-search-sign,
.textbox-search-icon,
.findbar-textbox {
  border: none !important;
  fill-opacity: 1 !important;
  box-shadow: none !important;
  margin-inline-start: 2px !important;
  padding-inline-start: 28px !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
  background-position: 5px center !important;
  background-image: url(../icons/search.svg) !important;
}



.findbar-find-status:not([status="notfound"]) {
  display: none !important;
}

hbox[anonid="findbar-textbox-wrapper"] {
  height: 28px !important;
  border-radius: var(--uc-border-radius) !important;
  background-color: var(--uc-base-colour) !important;
  border: 2px solid rgba(217, 217, 217, 0.5) !important;
  transition: background-color 0.2s cubic-bezier(0, -0.74, 0.25, 1) !important;
}

hbox[anonid="findbar-textbox-wrapper"]:hover {
  background-color: var(--uc-highlight-colour) !important;
}

hbox[anonid="findbar-textbox-wrapper"]:focus-within {
  border: 2px solid var(--accent-color) !important;
}

hbox[anonid="findbar-textbox-wrapper"] toolbarbutton {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 24px !important;
  opacity: 0.5 !important;
  height: 24px !important;
  display: flex !important;
  background: 0 !important;
  box-shadow: none !important;
  border-radius: 99px !important;
  transition: background-color 0.5s ease !important;
}

hbox[anonid="findbar-textbox-wrapper"] toolbarbutton[disabled] {
  display: none !important;
}

hbox[anonid="findbar-textbox-wrapper"] toolbarbutton .toolbarbutton-text {
  visibility: collapse !important;
}

hbox[anonid="findbar-textbox-wrapper"] toolbarbutton:not([disabled]):hover {
  opacity: 1 !important;
  background-color: transparent !important;
}

hbox[anonid="findbar-textbox-wrapper"]
  toolbarbutton:not([disabled]):hover:active {
    opacity: 1 !important;
    transition-duration: 0 !important;
    background-color: transparent !important;
}


