/*settings Inputs*/
tree:hover,
richlistbox:hover,
#searchInput:hover,
search-textbox:hover,
input:is([type="email"], [type="tel"], [type="text"], [type="password"], [type="url"], [type="number"]):hover {
  outline: var(--settings-color) solid 1px !important;
}

tree:focus-visible,
search-textbox[focused],
richlistbox:focus-visible,
#searchInput[focused="true"],
input:is([type="email"], [type="tel"], [type="text"], [type="password"], [type="url"], [type="number"]):focus {
  transition: linear 350ms !important;
  outline: var(--settings-color) solid 2px !important;
}

#searchInput {
  transition: linear 350ms !important;
    border-radius: var(--uc-border-radius) !important;
  }

  /*popups*/
  search-textbox.tabsFilter:hover,
  search-textbox#search-box:hover,
  search-textbox#search-box:focus-within,
  search-textbox.tabsFilter:focus-within {
  transition: ease-in 200ms;
  border: 1px solid var(--accent-color) !important;
  background-color: var(--uc-highlight-colour) !important;
}

image.textbox-search-sign {
  display: none !important;
}

search-textbox.tabsFilter,
search-textbox#search-box {
  padding: 4px !important;
  transition: ease-out 200ms;
  appearance: none !important;
  -moz-default-appearance: none !important;
  color: var(--uc-inverted-colour) !important;
  border-radius: var(--uc-border-radius) !important;
  background-color: var(--uc-base-colour) !important;
  border: 1px solid var(--uc-muted-colour) !important;
}