#nav-bar,
#TabsToolbar,
#main-window,
#sidebar-box,
#PersonalToolbar,
#toolbar-menubar,
#navigator-toolbox {
  box-shadow: none !important;
  border: none !important;
}

/* remove "padding" left and right from tabs */
.titlebar-spacer {
  display: none !important;
}

/* fix Shield Icon padding */
#urlbar-input-container[pageproxystate="valid"]
  > #tracking-protection-icon-container
  > #tracking-protection-icon-box
  > #tracking-protection-icon {
  padding-bottom: 1px;
}

#statuspanel #statuspanel-label {
  border: none !important;
  border-radius: var(--uc-border-radius) !important;
}
