#sidebar-search-container {
  justify-content: center !important;
}

.content-container {
  background-color: var(--uc-base-colour) !important;
}

.textbox-search-sign,
.textbox-search-icon {
  background-repeat: no-repeat !important;
  background-color: transparent !important;
  background-position: 5px center !important;
  background-image: url(../icons/search.svg) !important;
}

#sidebar-header {
  background-color: var(--uc-base-colour) !important;
  border-bottom: 1.5px solid var(--accent-color) !important;
}

#sidebar-icon {
  fill: var(--accent-color) !important;
}
