.checkbox-check[checked],
input[type="checkbox"]:checked {
  background-size: 14px !important;
  fill: var(--uc-inverted-colour) !important;
  background-color: var(--accent-color) !important;
}
.checkbox-check {
    border-radius: 4px !important;
}

.radio-check[selected],
input[type="radio"]:checked {
  fill: var(--uc-inverted-colour) !important;
  background-color: var(--accent-color) !important;
}