#sidebar-search-container {
  justify-content: center !important;
}
.content-container {
  background-color: var(--uc-base-colour) !important;
}

.textbox-search-sign,
.textbox-search-icon {
  background-color: transparent !important;
  background-image: url(../icons/search.svg) !important;
  background-repeat: no-repeat !important;
  background-position: 5px center !important;
}
#sidebar-header {
  background-color: var(--uc-base-colour) !important;
  border-bottom: 1.5px solid var(--accent-color) !important;
}

#sidebar-icon {
  fill: var(--accent-color) !important;
}

search-textbox.tabsFilter,
#search-box {
    -moz-default-appearance: none !important;
    padding: 4px !important;
    border-radius: var(--uc-border-radius) !important;
    border: 1px solid var(--uc-muted-colour) !important;
  }
search-textbox.tabsFilter:hover,
#search-box:hover {
  background-color: var(--uc-highlight-colour) !important;
}

search-textbox.tabsFilter:focus-within,
#search-box:focus-within {
  border: 1px solid var(--accent-color) !important;
}







